Options +FollowSymlinks
RewriteEngine On
RewriteBase /

#---------------------------#
# links for navigation      #
#---------------------------#

# Réécriture de l'URL pour afficher "article" lorsque index.php est appelé
RewriteCond "%{REQUEST_URI}" "article"
RewriteRule "^article/([0-9]+)$"  "index\.php?categorie=$1" [L]
RewriteRule ^accueille$ index.php [L]

# Inscription
RewriteCond "%{REQUEST_URI}" "inscription"
RewriteRule ^inscription$ Views/inscription.php [L]

#---------------------------#
# links for controllers     #
#---------------------------#

RewriteRule ^deconnecter$ "Controllers/loginController\.php?logout=true" [L]

RewriteRule ^ajouter_article$  "Controllers/contacteController\.php?methode=ajouter" [L]

RewriteRule ^modifier_article/([0-9]+)$ "Controllers/contacteController\.php?methode=modifier&id=$1" [L]

RewriteRule ^supprimer_article/([0-9]+)$ "Controllers/contacteController\.php?methode=supprimer&id=$1" [L]

RewriteRule ^supperUser$ "Controllers/superUsersController.php" [L]
#--------------------------------#

