RewriteEngine On
RewriteBase /

RewriteCond "%{REQUEST_URI}"  "MonController"
RewriteRule ^/traitement-([a-z]+)-([0-9]+)$ /Controllers/MonController\.php?methode=$1&id=$2 [L]
# RewriteRule ^/modifier/([0-9]*)$ /Controllers/MonController\.php?methode=modifier&id=$1 [L]